.board {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.doors {
  display: flex;
  justify-content: space-around;
}

.door {
  width: 200px;
  height: 300px;
  border: solid 1px #999;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

@media (max-width: 880px) {
  .doors {
    flex-direction: column;
  }

  .door {
    width: 100px;
    height: 150px;
  }
}

.chosen {
  box-shadow: 0 0 10px 2px #00ddff;
}

.closed-door {
  background: #ddd;
  cursor: pointer;
}

.game-message {
  text-align: center;
}
