.board {
  display: flex;
}

.door {
  height: 300px;
  width: 200px;
  border: solid 1px #999;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.chosen {
  box-shadow: 0 0 10px 2px #00ddff;
}

.closed-door {
  background: #ddd;
  cursor: pointer;
}
