.board {
  width: 648px;
  height: 400px;

  display: flex;
  flex-direction: column;
}

.doors {
  display: flex;
}

.door {
  flex: 1;
  width: 200px;
  height: 300px;
  border: solid 1px #999;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.chosen {
  box-shadow: 0 0 10px 2px #00ddff;
}

.closed-door {
  background: #ddd;
  cursor: pointer;
}

.game-over-message {
  text-align: center;
}
